@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html>
<head>
    <title>Angular JS table sort and filter example </title>

    <script src="https://code.angularjs.org/1.4.8/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.8/angular-resource.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="~/js/Contacts.js"></script>
  
</head>
<body ng-app="MyForm">
    <div ng-controller="myCtrl">
        <h3>Contact Details</h3>
        <div class="container-fluid">
            <!-- Button trigger modal -->

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" ng-click="getContactInfo(0)">
                Add
            </button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>
                            <a href="" ng-click="order('fname')">Name</a>
                        </th>
                        <th><a href="" ng-click="order('email')"> Email</a> </th>
                        <th><a href="" ng-click="order('phone')"> Phone</a> </th>
                        <th><a href="" ng-click="order('gender')">Gender</a> </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Filter =>></td>
                        <td> <input type="text" ng-model="search.fname" /></td>
                        <td> <input type="text" ng-model="search.email" /> </td>
                        <td> <input type="text" ng-model="search.phone" /> </td>
                        <td><input type="text" ng-model="search.gender" /> </td>
                    </tr>
                    <tr ng-repeat="contactData in contacts | orderBy:predicate:reverse | filter:paginate| filter:search" ng-class-odd="'odd'">
                        <td>

                            <button class="btn btn-primary btn-xs" data-title="Edit" ng-click="getContactInfo(contactData.contactId)" data-toggle="modal" data-target="#exampleModalCenter"><span class="glyphicon glyphicon-pencil"></span></button>
                            &nbsp; &nbsp;
                            <button class="btn btn-danger btn-xs" data-title="Delete" ng-click="deleteContactInfo(contactData.contactId)"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                        <td>{{ contactData.fname+" "+contactData.lname}}</td>
                        <td>{{ contactData.email}}</td>
                        <td>{{ contactData.phone}}</td>
                        <td>{{ contactData.gender}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination total-items="totalItems" ng-model="currentPage"
                        max-size="5" boundary-links="true"
                        items-per-page="numPerPage" class="pagination-sm">
            </pagination>
            <div><b>{{msg}}</b></div>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Contact Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="inputFname" class="col-sm-4 col-form-label">First Name</label>
                                <div class="col-sm-8">

                                    <input type="text" class="form-control" Name="inputEmail" placeholder="First Name" ng-model="contactInfo.fname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFname" class="col-sm-4 col-form-label">Last Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" Name="inputEmail" placeholder="Last Name" ng-model="contactInfo.lname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" Name="inputEmail" placeholder="Email" ng-model="contactInfo.email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-4 col-form-label">Mobile</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" Name="inputPhone" placeholder="Mobile" ng-model="contactInfo.phone">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputFname" class="col-sm-4 col-form-label">Gender</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="sel1" name="inputGender" ng-model="contactInfo.gender">
                                        <option value="M">M</option>
                                        <option value="F">F</option>

                                    </select>
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" ng-click="saveContact()">{{contactInfo.contactId==0?"Save":"Update"}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>
